<div>
 <div class="choice">
  <app-letter *ngFor="let letter of choiceletters; let i=index" [letter]="letter" [position]="i" (move)="moveLetterDown($event)">
  </app-letter>
  </div>

  <div class="guess">
  <app-letter *ngFor="let letter of guessletters; let i=index" [letter]="letter" [position]="i" (move)="moveLetterUp($event)">
  </app-letter>
  </div>

  <div class="btn">
	  <button (click)="onClear()">Clear</button>
	  <button (click)="valid()">Valider</button>
  </div>
</div>
