<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Anagram</h1>
</div>
<button (click)="loadList()">New List</button>
<app-choice-letter [letters]="letters" (onValid)="onValidWord($event)"></app-choice-letter>
<app-words [wordlist]="wordlist"></app-words>

